@page "/trip/{Id:guid}"
@using Humanizer
@using MediatR
@using TripPlanner.Application.Entries.Commands
@using TripPlanner.Application.Trips
@using TripPlanner.Application.Trips.Queries
@using TripPlanner.Infrastructure

@rendermode InteractiveServer

@inject ISender Sender

@if (_trip == null)
{
    <p>Loading ...</p>
}
else
{
    <div class="space-y-6 w-full max-w-3xl bg-gray-800 border border-gray-700 shadow rounded-lg p-5 mb-6">

        <h1 class="text-3xl mb-4">@_trip?.Title</h1>

        <code>@_trip?.JoinCode</code>

        <div class="flex flex-col items-center mb-4">
            @foreach (var member in _trip!.Participants)
            {
                <div class="flex items-center gap-4 mb-4">
                    <div
                        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden  rounded-full bg-gray-600">
                        <span class="font-medium text-gray-300">@(new string(member.UserName.GetInitials()))</span>
                    </div>
                    <div class="font-medium text-white text-center">
                        <div>@member.UserName</div>
                        <div class="text-sm text-gray-400">Joined @member.JoinedOn.ToLocalTime().Humanize()</div>
                    </div>
                </div>
            }
        </div>

        @foreach (var entry in _trip!.Entries)
        {
            <Entry Model="entry"/>
        }

        <EditForm Model="Model" OnValidSubmit="AddEntry" FormName="AddEntry">
            <div class="w-full mb-4 border rounded-lg bg-gray-700 border-gray-600">
                <div class="py-2 rounded-t-lg bg-gray-800 divide-y divide-solid divide-gray-600">
                    <InputText @bind-Value="Model.Title" id="title"
                               class="px-4 text-lg w-full border-0 bg-gray-800 focus:ring-0 text-white placeholder-gray-400"
                               placeholder="Title*" required/>

                    <InputTextArea @bind-Value="Model.Comment" id="description" rows="2"
                                   class="px-4 w-full text-sm border-0 bg-gray-800 focus:ring-0 text-white placeholder-gray-400 resize-none"
                                   placeholder="Write a comment..."/>
                </div>
                <div class="flex items-center justify-between px-3 py-2 border-t border-gray-600">
                    <FlowButton Type="FlowButton.ButtonType.Submit">Post suggestion</FlowButton>
                    <div class="flex ps-0 space-x-1 rtl:space-x-reverse sm:ps-2">
                        <button type="button"
                                class="inline-flex justify-center items-center p-2 rounded cursor-pointer text-gray-400 hover:text-white hover:bg-gray-600">
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                 viewBox="0 0 12 20">
                                <path stroke="currentColor" stroke-linejoin="round" stroke-width="2"
                                      d="M1 6v8a5 5 0 1 0 10 0V4.5a3.5 3.5 0 1 0-7 0V13a2 2 0 0 0 4 0V6"/>
                            </svg>
                            <span class="sr-only">Attach file</span>
                        </button>
                        <button type="button"
                                class="inline-flex justify-center items-center p-2 rounded cursor-pointer text-gray-400 hover:text-white hover:bg-gray-600">
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                 fill="currentColor"
                                 viewBox="0 0 16 20">
                                <path
                                    d="M8 0a7.992 7.992 0 0 0-6.583 12.535 1 1 0 0 0 .12.183l.12.146c.112.145.227.285.326.4l5.245 6.374a1 1 0 0 0 1.545-.003l5.092-6.205c.206-.222.4-.455.578-.7l.127-.155a.934.934 0 0 0 .122-.192A8.001 8.001 0 0 0 8 0Zm0 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z"/>
                            </svg>
                            <span class="sr-only">Set location</span>
                        </button>
                        <button type="button"
                                class="inline-flex justify-center items-center p-2 rounded cursor-pointer text-gray-400 hover:text-white hover:bg-gray-600">
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                 fill="currentColor"
                                 viewBox="0 0 20 18">
                                <path
                                    d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"/>
                            </svg>
                            <span class="sr-only">Upload image</span>
                        </button>
                    </div>
                </div>
            </div>
        </EditForm>

        <a href="/" class="block text-green-500 underline text-left">Go back</a>
    </div>
}

@code {

    [Parameter] public Guid Id { get; set; }

    private TripDto? _trip;

    [SupplyParameterFromForm] private CreateEntryModel Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        // get trip
        _trip = await Sender.Send(new GetTripQuery(Id));
    }

    private async Task AddEntry()
    {
        await Sender.Send(new CreateEntryCommand(Id, Model.Title)
        {
            Comment = Model.Comment
        });

        // clear comment
        Model = new();

        // refresh trip
        _trip = await Sender.Send(new GetTripQuery(Id));
    }

    class CreateEntryModel
    {
        public string Title { get; set; }
        public string? Comment { get; set; }
    }

}