@inherits LayoutComponentBase

<div class="antialiased text-white bg-gray-900 min-h-screen">

    <PageTitle>Trip Planner</PageTitle>

    <main class="grid place-items-center min-h-screen text-center">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>