@inherits LayoutComponentBase

<div class="antialiased text-white bg-slate-800 min-h-screen w-screen">
    @* <TopBar/> *@
    @* *@
    @* <SideBar/> *@
    
    <PageTitle>Trip Planner</PageTitle>

    <main class="grid place-items-center h-screen text-center">
        <article>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>