@using TripPlanner.Application.Common.Interfaces
@inherits LayoutComponentBase

@inject IUser CurrentUser

<div class="antialiased text-white bg-slate-800 min-h-screen w-screen">
    @* <TopBar/> *@
    @* *@
    @* <SideBar/> *@
    
    <PageTitle>Trip Planner</PageTitle>

    <main class="grid place-items-center h-screen text-center">
        <article>
            @if (_userId == null)
            {
                <WelcomeWizard/>
            }
            else
            {
                @Body
            }
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private string? _userId;

    protected override void OnInitialized()
    {
        // get user id
        _userId = CurrentUser.Id;
    }

}