@inherits LayoutComponentBase

<div class="antialiased bg-gray-50 dark:bg-gray-900 min-h-screen w-screen">
    <TopBar/>

    <SideBar/>

    <main class="p-4 md:ml-64 pt-20">
        <article class="p-4 mt-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>