@using System.Security.Claims
@implements IDisposable

@inject NavigationManager NavigationManager

<aside
    class="fixed top-0 left-0 z-40 w-64 h-screen pt-14 transition-transform -translate-x-full bg-white border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
    aria-label="Sidenav"
    id="drawer-navigation">
    <div class="overflow-y-auto py-5 px-3 h-full bg-white dark:bg-gray-800">
        <form action="#" method="GET" class="md:hidden mb-2">
            <label for="sidebar-search" class="sr-only">Search</label>
            <div class="relative">
                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"></path>
                    </svg>
                </div>
                <input type="text" name="search" id="sidebar-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Search"/>
            </div>
        </form>
        <ul class="space-y-2">
            @foreach (var link in NavLinks)
            {
                @if(link.Visibility == NavLinkVisibility.Authenticated && !(User?.Identity?.IsAuthenticated ?? false))
                {
                    continue;
                }
                if(link.Visibility == NavLinkVisibility.Unauthenticated && (User?.Identity?.IsAuthenticated ?? false))
                {
                    continue;
                }
                <li>
                    <NavLink href="@link.Href" class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        @if (link.Icon != null)
                        {
                            <svg aria-hidden="true" class="@(link.IsActive(_currentUrl) ? "text-gray-900 dark:text-white" : "text-gray-500 dark:text-gray-400") w-6 h-6  transition duration-75 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                @((MarkupString)link.Icon)
                            </svg>
                        }
                        <span class="ml-3">@link.Title</span>
                    </NavLink>
                </li>
            }
        </ul>
    </div>
</aside>


@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; } = null!;
    private ClaimsPrincipal? User { get; set; } = null!;
    
    private string _currentUrl = null!;

    private const string DashboardIcon = "<path d=\"M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z\"></path><path d=\"M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z\"></path>";
    private const string CameraIcon = "<path d=\"M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z\"></path><path d=\"M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z\"></path>";
    private const string DocumentIcon = "<path d=\"M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z\"></path><path d=\"M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z\"></path>";
    private const string LockIcon = "<path fill-rule=\"evenodd\" d=\"M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z\" clip-rule=\"evenodd\"></path>";

    private readonly NavLink[] NavLinks =
    [
        new("Home", "/", NavLinkVisibility.Always, new MarkupString(DashboardIcon)),
        new("Register", "Account/Register", NavLinkVisibility.Unauthenticated, new MarkupString(LockIcon)),
        new("Logout", "Account/Logout", NavLinkVisibility.Authenticated, new MarkupString(LockIcon))
    ];

    protected override async Task OnInitializedAsync()
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
        User = (await AuthenticationState).User;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    public record NavLink(string Title, string Href, NavLinkVisibility Visibility, MarkupString? Icon)
    {
        public bool IsActive(string currentUrl)
        {
            return Href.TrimStart('/').Equals(currentUrl, StringComparison.InvariantCultureIgnoreCase);
        }
    }

    public enum NavLinkVisibility
    {
        Always,
        Authenticated,
        Unauthenticated
    }

}